/*import normalize.css*/
@import "normalize.scss";

/*general styles*/
html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
button {
  border: 0;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  //no select
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/*main*/

.main {
  padding: 30px 10px;
  height: 100vh;
}

.main__inner {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.task-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px dashed rgba(34, 34, 34, 0.5);
  h2 {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }
  .delete-all-tasks {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    color: #1AB8DB;
  }
}

.task-form-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}
.task-form-wrapper.active {
  visibility: visible;
  opacity: 1;
}
.task-form {
  transform: translateY(-150%);
  position: absolute;
  z-index: 3;
  margin: 30px 0;
  padding: 30px;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  transition: all 0.3s ease;
  .task-form__task-title,
  .task-form__task-description {
    display: flex;
    flex-direction: column;
  }
  .task-form__task-description {
    margin: 30px 0 0 0;
  }
  .label-form {
    margin: 0 0 10px 0;
  }
  .task-title-input,
  .task-description-input {
    padding: 13px;
    border: 1px solid #1AB8DB;
    outline:none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }
  .form-btn-wrapper {
    margin: 45px 0 0 0;
    display: flex;
    justify-content: space-around;
  }
  .agree-btn,
  .reject-btn {
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-3px);
      box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
    &:active {
      transform: translateY(1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  }
  .agree-btn {
    background-color: #1AB8DB;
  }
  .reject-btn {
    background-color: #FF0000;
  }
  &.active {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

//add task form trigger


.task-body {
  flex: 1 1 auto;
  width:  100%;
  overflow-x: hidden;
  word-break: break-word;
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
}

.task-list {
  transition: all 0.3s ease;
  padding: 0 10px;
}

.task-item {
  display: flex;
  margin: 10px 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  transition: all 0.3s ease;
  &:hover .task-item-inner,
  &:hover .pencil,
  &:hover .trash-can {
    transform: translateY(-3px);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .task-item-inner {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 13px 0 13px 13px;
    transition: all 0.3s ease;
    background-color: #EEE;
    border-radius: 8px 0 0 8px;
    .checkbox {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      border-radius: 5px;
      background: #FFFFFF;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      &.checked {
        position: relative;
        &:before {
          content: "";
          width: 9px;
          height: 2px;
          position: absolute;
          left: 1px;
          top: 50%;
          transform: rotate(45deg);
          background-color: #00C938;
        }
        &:after {
          content: "";
          width: 15px;
          height: 2px;
          position: absolute;
          left: 5px;
          top: 42%;
          transform: rotate(-45deg);
          background-color: #00C938;
        }
      }
    }
  }

  input:checked + span {
    text-decoration: line-through;
    color: #9C9C9C;
    font-weight: 300;
    transition: all 0.3s ease;
  }
  .task-text {
    flex-grow:1;
    margin: 0 0 0 20px;
  }
  .pencil {
    display: flex;
    align-items: center;
    padding: 13px;
    background-color: #1AB8DB;
    transition: all 0.3s ease;
    img {
      height: 20px;
    }
    &:hover {
      cursor: pointer;
      img {
        animation-name: pencil-write;
        animation-duration: 0.3s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
    &:active {
      transform: translateY(1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  }
  @keyframes pencil-write {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(15deg);
    }
  }
  .trash-can {
    display: flex;
    align-items: center;
    padding: 13px;
    border-radius: 0 8px 8px 0;
    background-color: #FF0000;
    transition: all 0.3s ease;
    &:active {
      transform: translateY(1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    img {
      height: 20px;
      transition: all 0.3s ease;
    }
    .icon-trash-can-close {
      visibility: visible;
      opacity: 1;
      width: 20px;
    }
    .icon-trash-can-open {
      visibility: hidden;
      opacity: 0;
      width: 0;
    }
    &:hover {
      cursor: pointer;
      .icon-trash-can-open {
        visibility: visible;
        opacity: 1;
        width: 20px;
      }
      .icon-trash-can-close {
        visibility: hidden;
        opacity: 0;
        width: 0;
      }
    }
  }
}
.main__add-btn-wrapper {
  display: flex;
  justify-content: center;
  .main__add-btn {
    position: relative;
    width: 70px;
    height: 70px;
    background: #1AB8DB;
    border-radius: 50%;
    transition: all 0.3s ease;
    outline: 0 !important;
    &:before {
      content: '';
      width: 30px;
      height: 2px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
    }
    &:after {
      content: '';
      width: 30px;
      height: 2px;
      position: absolute;
      left: 50%;
      top: 50%;
      background-color: #fff;
      transform: translate(-50%, -50%) rotate(90deg);
    }
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
    &:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  }
}
.d-none {
  display: none;
}


